<h1>管理者トップページ</h1>

　　   <li>
        <%= link_to destroy_admin_session_path, method: :delete,class:'nav-link text-dark' do %>
         <i class="fas fa-sign-out-alt"></i> Log out
        <% end %> 
       </li>